Q1. Create one variable containing following type of data:

In [1]:
# i. string
name = "Manish"

In [2]:
# ii. list
list1 = [23, 234.5, 4 + 5j, True, "man"]

In [3]:
# iii. float
f = 78.90

In [4]:
# iv. tuple
t = (34, 45, 23, 9.0)
type(t)

tuple

Q2. Given are some following variables containing data:

In [5]:
# ans: i. str
# ii. str
# iii. list
# iv. int

Q3. Explain the use of the following operators using an example:


*  **/** : Give quotient of two numbers in decimal value (float)
  ex. 30 / 5 = 6.0
*  **%** : Give the remainder of two number
  ex. 30 % 5 = 0
*  **//** : Give quotient of two number in integer value (int)
  ex. 4 // 3 = 1
*   ** : Calculate exponential value or power
  ex. 3**2 = 9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [6]:
list1 = [2, 12.4, 'Manish', 2003, '1803', 'ds', 3 + 4j, 23.67, True, 69]
for i in list1:
  print(i)
  print(type(i))

2
<class 'int'>
12.4
<class 'float'>
Manish
<class 'str'>
2003
<class 'int'>
1803
<class 'str'>
ds
<class 'str'>
(3+4j)
<class 'complex'>
23.67
<class 'float'>
True
<class 'bool'>
69
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [7]:
count = 0
numA = int(input('Enter value for numA: '))
numB = int(input('Enter value for numB: '))
while numA >= numB and numA % numB == 0:
  count += 1
  numA /= numB
else:
  print(count)

Enter value for numA: 25
Enter value for numB: 5
2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [8]:
list1 = []
for i in range(1, 26):
  list1.append(i)

In [9]:
list1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [10]:
for i in list1:
  if i % 3 == 0:
    print(str(i)+' is divisible by 3.')
  else:
    print(str(i)+' is not divisible by 3.')

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [11]:
'''
  Mutable: change the value of particular index in collection
  Immutable: it can't change value
'''
# str, tuple - immutable
# list - mutable
list2 = [23, 39.4, 'Manish', True, 7 + 3j]

In [12]:
list2

[23, 39.4, 'Manish', True, (7+3j)]

In [13]:
list2[-2] = 'Patil'

In [14]:
list2

[23, 39.4, 'Manish', 'Patil', (7+3j)]

In [15]:
# immutable
str1 = 'Manish'
str1

'Manish'

In [16]:
str1[-1]

'h'

In [18]:
str1[-1] = 'r'

TypeError: ignored

In [19]:
# if assign new value to an existing variable then new object is created with new value. just like
str1 = 'Patil'
str1

'Patil'

In [20]:
# tuple
t = (23, 45, 4.3, 6 + 5j)

In [21]:
t[2]

4.3

In [22]:
t[2] = 34

TypeError: ignored

In [23]:
# tuple is also immutable data type.